
.app-container {
  display: flex;
  height: 100vh;
}

.video-section {
  flex: 1;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-section {
  flex: 1;
  background-color: #1e1e1e;
  color: #fff;
}